<div class="column">
  <h1 class= "title is-5 has-text-dark">Veja as Barbearias disponíveis</h1>
  <div class="columns">
    <% index = 1 %>
    <% @barber_shops.each do |barber_shop| %>
      <% if index % 4 == 1 %>
        </div>
        <hr>
        <div class="columns">
          <div class="column is-3">
            <%= render "professional_profiles/card", barber_shop: barber_shop %>
          </div>
      <% else %>
        <div class="column is-3">
          <%= render "professional_profiles/card", barber_shop: barber_shop %>
        </div>
      <% end %>
      <% index += 1 %>
      <% if barber_shop == @barber_shops.last %>
        </div>
      <% end %>
    <% end %>
      <div class="control-paginator pt-5">
        <%= paginate @barber_shops %>
      </div>
</div>