<div class="box">
	<div class="field">
		<div class="image-coment px-5">
			<span class="icon">
				<%= icon("fas", "star")*rate.rate %>
			</span>
		</div>
		<br>
		<div class="text-coment">
			<p>
				<%= rate.comment %>
			</p>
		</div>
	</div>


</div>